
.details {
    margin: auto;
    width: 80%;
    padding: 10% 0;

}

.top_content {
    display: flex;
    column-gap: 20px;
}

.top_content img {
    height: 100%;
}

.rating {
    display: flex;
    column-gap: 5px;
}

.text div, .text h3, .overview, .titletext, .rating p, .tagline ,.release-date{
    color: var(--text-secondary);
}

.text h3 {
    margin: 3% 0;
}

.company_title {
    margin-top: 3%;
}

.genres {
    margin-top: 20px;
}