.movies {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    justify-content: center;
}

.pages {
    margin-top: 5%;
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    color: var(--text-black);
}

.prev, .next {
    display: flex;
    column-gap: 15px;
}

.page {
    cursor: pointer;
}

.page:hover {
    color: var(--red-page-hover);
}

.current {
    font-size: 26px;
    color: var(--red-page);
}

.loading {
    position: absolute;
    z-index: 999;
    top: 16%;
    left: 50%;
    font-size: 20px;
}

.loading, .error{
    color: var(--text-black);
}