.genre {
    background-color: var(--main-blue);
    margin: 5px;
    padding: 6px;
    border-radius: 20px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    color: var(--text-primary);
}

.genre_sel {
    background-color: var(--ocean-blue);
    margin: 5px;
    padding: 6px;
    border-radius: 20px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    color: var(--text-primary);
}