.genre {
    background-color: #70ACAD;
    margin: 5px;
    padding: 6px;
    border-radius: 20px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    color: snow;
}
.genre_sel{
    background-color: #096365;
    margin: 5px;
    padding: 6px;
    border-radius: 20px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    color: snow;
}