.movie {
    display: inline-block;
    max-width: 250px;
    box-shadow: 5px 5px 5px 5px var(--main-background);
    padding: 15px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondary);
    border-radius: 25px;
}

.movie:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-blue);
    color: var(--text-primary);
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    opacity: 0.9;
    border-radius: 20px;
}


.movie img {
    width: 250px;
    border-radius: 20px;
}

.title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ratings_high {
    margin-left: 5px;
    padding: 4px;
    color: var(--gold-price);
    border-radius: 5px;
    background-color: var(--main-blue);
}

.ratings_low {
    margin-left: 5px;
    padding: 4px;
    color: var(--red-price);
    border-radius: 5px;
    background-color: var(--main-blue);
}