* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    scroll-behavior: smooth;
}

:root {
    --main-blue: #70ACAD;

    --text-primary: snow;

    --main-cream: #F2EFC4;

    --main-lightorange: #dcd686;

    --gold-price: gold;

    --red-price: #d22433;

    --red-page-hover: #ab3434;

    --red-page: red;

    --header-blue: #4b8686;

    --genre-true: #bcd7c2;

    --genre-not-selected: #096365;

    --text-black:black;
}


/*:root {
    --main-blue: #014b4d;

    --text-primary: snow;

    --main-cream: #2d290b;

    --main-lightorange: #0e0d02;

    --gold-price: gold;

    --red-price: #d22433;

    --red-page-hover: #ab3434;

    --red-page: red;

    --header-blue: #000000;

    --genre-true: #a4a1a1;

    --genre-not-selected: #9edee1;

    --text-black:snow;
}*/
